<div class="span6 offset3 text-center steamy-hottub">

	<h1 class="custom-font">Hi I'm Ileana</h1>

	<h2>I'm having a blast learning how to code </h2>

	<%= link_to 'Launch my App', '#', :class => 'btn btn-warning btn-large' %>

</div>